html,body {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
