.layout-main-container {
    display: flex;
    flex: 1;                   /* fill remaining width next to sidebar */
    min-height: 0;  
    justify-content: space-between;
    overflow: hidden;
    padding: 1rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout-main {
  flex: 1;
  overflow: auto;     /* vertical + horizontal scroll */
  min-width: 0;       /* REQUIRED for horizontal scroll */
  padding: 0rem 1rem;
}